.navbar{
    box-shadow: 2px 2px 2px #000 ;
    opacity: .9 ;
    background-color: #191919 !important;

}

.nav-item .nav-link {
    color: #ffffff ;

}

.container-fluid{
    margin-top: 30px;

}

h1 {
    text-decoration: underline;
}

#img-logo{
    width: 35%;
}

#img-max-width{
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#footer-style{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
	padding: 25px 0;
}

body{
    padding-bottom:80px;
}